td {
    text-align: left;
    vertical-align: middle;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
}
table {
    margin-left:auto;margin-right:auto;
}
caption {
    margin-left:auto;margin-right:auto;
}